<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Course Tracker</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>
<div class="container">
    <h1>Trees</h1>
    <hr>
    <h2>Update Tree</h2>

    <form action="#" th:action="@{/trees/update_save/{id}(id=${tree.id})}" th:object="${tree}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Tree name">
        <input type="text" th:field="*{description}" class="form-control mb-4 col-4" placeholder="Tree description">
        <button type="submit" class="btn btn-info col-2">Update Tree</button>
    </form>

    <hr>

    <a th:href="@{/trees}"> Back to Trees List</a>
</div>
</body>
</html>
